.unauthorized-user {
  display: flex;
  flex-direction: column;
}

object {
  margin: auto;
  width: 90px;
}

h3, h2 {
  text-align: center;
}
#divPadre {
  height:100px;
  width:800px;
   text-align:center;
  background-color:rgb(250, 249, 248);
}