.progress-bar{
    background-color: #0F3B64 !important;
    border: none;
}
.color-oxxo{
    background-color: #0F3B64 !important;
}
.letra-clara{
    color:white !important;
}
.btn-oxxo{
    background-color: #0F3B64 !important;
    color:white !important;
}