<div class="row" style="background-color:whitesmoke; padding: 25px 0px 25px 0px;">
    <div class="col-3 offset-1">
      <h4 class="text-center">CR Tienda: 50FDI</h4>
    </div>
    <div class="col-3">
      <h4 class="text-center">Nombre de la tienda: Edison MTY</h4>
    </div>
    <div class="col-3">
      <h4 class="text-center">Plaza: Monterrey</h4>
    </div>
  </div>
<div class="container" style=" padding: 100px 0 0 0;">
    <div id="" class="" style=" height:300px; overflow-y: scroll; overflow-x:scroll;">
        <table class="table text-center">
            <thead>
                <tr class="color-oxxo">
                    <th class="letra-clara">Plaza Cve</th>
                    <th class="letra-clara">Plaza</th>
                    <th class="letra-clara">Distrito</th>
                    <th class="letra-clara">Tienda Id</th>
                    <th class="letra-clara">Tienda Cve</th>
                    <th class="letra-clara">Tienda</th>
                    <th class="letra-clara">No Transferencia</th>
                    <th class="letra-clara">Fecha creación</th>
                    <th class="letra-clara">Estatus</th>
                    <th class="letra-clara">Origen</th>
                    <th class="letra-clara">Destino</th>
                    <th class="letra-clara">Tipo Tsf</th>
                    <th class="letra-clara">Supergrupo</th>
                    <th class="letra-clara">Categoria</th>
                    <th class="letra-clara">Articulo Id</th>
                    <th class="letra-clara">Articulo</th>
                    <th class="letra-clara">Cantidad generada</th>
                    <th class="letra-clara">Cantidad transferida</th>
                    <th class="letra-clara">Cantidad embarcada</th>
                    <th class="letra-clara">Cantidad recibida</th>
                    <th class="letra-clara">Cantidad faltante Abasto</th>
                    <th class="letra-clara">Motivo</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class="">10NLA</td>
                    <td class="">10NLA San Nicolas</td>
                    <td class="">Noreste Norte</td>
                    <td class="">170</td>
                    <td class="">50COB</td>
                    <td class="">Escobedo MTY</td>
                    <td class="">3137000000000</td>
                    <td class="">13/11/2022</td>
                    <td class="">Abierta</td>
                    <td class="">10000000000</td>
                    <td class="">170</td>
                    <td class="">Automática</td>
                    <td class="">Arts. No Vendibles</td>
                    <td class="">Consumo Interno</td>
                    <td class="">2871</td>
                    <td class="">Tapa para canastilla</td>
                    <td class="">1</td>
                    <td class="">1</td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">Reple</td>
                <tr>
                    <td class="">10NLA</td>
                    <td class="">10NLA San Nicolas</td>
                    <td class="">Noreste Norte</td>
                    <td class="">170</td>
                    <td class="">50COB</td>
                    <td class="">Escobedo MTY</td>
                    <td class="">3137000000000</td>
                    <td class="">13/11/2022</td>
                    <td class="">Abierta</td>
                    <td class="">10000000000</td>
                    <td class="">170</td>
                    <td class="">Automática</td>
                    <td class="">Arts. No Vendibles</td>
                    <td class="">Consumo Interno</td>
                    <td class="">2870</td>
                    <td class="">Canastilla 18</td>
                    <td class="">1</td>
                    <td class="">1</td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">Repl</td>
                </tr>
                <tr>
                    <td class="">10NLA</td>
                    <td class="">10NLA San Nicolas</td>
                    <td class="">Noreste Norte</td>
                    <td class="">170</td>
                    <td class="">50COB</td>
                    <td class="">Escobedo MTY</td>
                    <td class="">3137000000000</td>
                    <td class="">13/11/2022</td>
                    <td class="">Abierta</td>
                    <td class="">10000000000</td>
                    <td class="">170</td>
                    <td class="">Automática</td>
                    <td class="">Arts. No Vendibles</td>
                    <td class="">Consumo Interno</td>
                    <td class="">2870</td>
                    <td class="">Canastilla 18</td>
                    <td class="">1</td>
                    <td class="">1</td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">Repl</td>
                </tr>
                <tr>
                    <td class="">10NLA</td>
                    <td class="">10NLA San Nicolas</td>
                    <td class="">Noreste Norte</td>
                    <td class="">170</td>
                    <td class="">50COB</td>
                    <td class="">Escobedo MTY</td>
                    <td class="">3137000000000</td>
                    <td class="">13/11/2022</td>
                    <td class="">Abierta</td>
                    <td class="">10000000000</td>
                    <td class="">170</td>
                    <td class="">Automática</td>
                    <td class="">Arts. No Vendibles</td>
                    <td class="">Consumo Interno</td>
                    <td class="">2870</td>
                    <td class="">Canastilla 18</td>
                    <td class="">1</td>
                    <td class="">1</td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">Repl</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style=" padding: 50px 0 0 0;">
        <div class="btn-group col-2 offset-10" role="group" aria-label="Second group">
            <button type="button" class="btn btn-light" (click)="regresarHome()">Regresar</button>
        </div>
    </div>
</div>