.vigenciaMensaje{
    background-color: #C40D15;
    padding: 10px;
    color: white;
}
.encabezadoMensaje{
    background-color:rgb(245, 245, 245);
    height: auto;
}
.espacioMensaje{
    padding: 30px;
}