<div style="background-color:whitesmoke; padding: 25px 0px 25px 0px;">
    <h5 class="text-center" >Nuevo tipo de motivo</h5>
    <h6 class="text-center">Ingresa la información necesaria</h6>
</div>
<div class="container">
  <form [formGroup]="formularioEnvioAviso" (ngSubmit)="submit()">
    <div class="mb-3 col-6 offset-3" style="padding: 80px 0px 0px 0px;">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre del motivo</label>
            <input formControlName="motivo" type="text" class="form-control" placeholder="Motivo" name="motivo" [(ngModel)]="motivo">
            <span *ngIf="this.formularioEnvioAviso.get('motivo')?.errors?.['required']">
              (El campo no puede quedar vacío)
          </span>
          <span *ngIf="this.formularioEnvioAviso.get('motivo')?.errors?.['minlength']">
              (Debe tener como mínimo 5 caracteres)
          </span>
        </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
            <textarea class="form-control" formControlName="descripcion" rows="4" placeholder="Agrega una descripción del motivo..." name="descripcion" [(ngModel)]="descripcion"></textarea>
            <span *ngIf="this.formularioEnvioAviso.get('descripcion')?.errors?.['required']">
              (El campo no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioEnvioAviso.get('descripcion')?.errors?.['minlength']">
                (Debe tener como mínimo 10 caracteres)
            </span>
          </div>
    </div>
  </form>
  <div>{{resultado}}</div>
    <div style="padding: 50px 0px 0px 0px;">
        <div class="btn-group col-1 offset-7" role="group" aria-label="First group">
            <button type="button" class="btn btn-light azulOxxo" (click)="regresarAListado()">Regresar</button>
        </div>
        <div class="btn-group col-1" role="group" aria-label="First group">
            <button type="button" class="btn btn-danger" (click)="agregarMotivo()" data-bs-toggle="modal"
            data-bs-target="#modalEnvio">Agregar</button>
            
        </div>
    </div>
    <!--Modal envío exitoso-->
    <div class="modal fade" id="modalEnvio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding: 20%;">
        <div class="modal-dialog">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
            </svg>
            <div class="d-flex align-items-center mensaje" role="alert">
                <svg class="bi flex-shrink-0 col-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div class="col-9">{{mensajeExito}}</div>
                <button type="button" class="btn-close col-1" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar()"></button>
            </div>
        </div>
    </div>
</div>