

.div-etiqueta{
    width: 488px;
    height: 40px;
    margin-left: left;
     margin-right:auto;
    
  }

  .div-etiqueta2{
    width: 600px;
    height: 40px;
    margin-left: left;
     margin-right:auto;
    
  }